.panel-default {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}
.alert {
	width: 550px;
	margin-left: auto;
	margin-right: auto;
}
#footer {
    position: absolute;
    width: 100%;
    text-align: center;
}
#side-bar{
    
}
html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}
#panel {
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}
.btn.btn-info{
    margin-right: 10px;
}
.badge{
    background-color:#428bca;
    height: 2em;
    padding-top: .5em;
}
.date{
    display:inline;
    color:#777;
    font-size: .9em;
}
.explore_info{
    display:inline;
}
.block{
    height: 10em;
    color: white;
}
#step1{
    background-color: #428bca;
    font-size: 5em;
    padding-left: 1em;
}
#step2{
    background-color: #5cb85c;
    font-size: 5em;
    padding-left: 1em;
}
#step3{
    background-color:  #5bc0de;
    font-size: 5em;
    padding-left: 1em;
}
#step4{
    background-color: #f0ad4e;
    font-size: 5em;
    padding-left: 1em;
}