#index{
    min-height: 100%; 
    background: url("/background-pics/home.JPG")no-repeat center center fixed; 
    background-size: cover;
    background-position: 0 2px;
    padding-bottom: 3em;
}
.panel-default{
    width:540px;
    margin: auto;
}
.jBack{
  padding-left: 2em;
  background-color: rgba(210,210,210, 0.4);
  color: inherit;
  width: 100%;
  padding-bottom: 3em;
}
h1{
    opacity: 1;
}
p{
    opacity: 1;
}
.glyphicon-sort{
    color:#777;
}
#list_events, #my_events_list, #my_interests_list{
    width: 900px;
    padding: 1em;
}
#my_interests_list {
    margin-top:15px;
}
#list_page{
    min-height: 100%; 
    background: url("/background-pics/campus2.JPG")no-repeat center center fixed; 
    background-size: cover;
    background-position: 0 10px;
    padding-bottom: 3em;
}
#create_event{
    min-height: 100%; 
    background: url("/background-pics/campus1.JPG")no-repeat center center fixed; 
    background-size: cover;
    padding-bottom: 3em;
}
#detail_page {
    min-height: 100%;
    background: url("/background-pics/icons-asphalt.JPG")fixed; 
    padding-bottom: 3em;
}
#events {
    height: 100%;
	width: 68em;
	margin-left: auto;
	margin-right: auto;
}
.alert {
	width: 550px;
	margin-left: auto;
	margin-right: auto;
}
html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
}
#panel {
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}

.btn.btn-info{
    margin-right: 10px;
}
.comment{
    color:#428bca;
    margin-left: 10px;
}
#comments{
    margin-top: 21px;
}
#interested-users{
    margin-top: 21px;
}
h3{
    display: inline;
}
.date{
    color:#777;
    font-size: .95em;
}

.newtable {
    width: 80em; 
    height:18em;
    margin-left:10px;
}

#calendar-wrapper{
    width: 12em;
    float: right;
    display: inline;
}
#add_interest_button{
    width: 10em;
    float:left;
}
.row {
    width: 100%; 
    min-height: 1px; 
    height: auto; 
    margin: 0; 
    padding-bottom: 1.2em;
}

.cell {
    float: left; 
    margin: 0; 
    padding: 0; 
    height:4em;
    overflow: hidden;
    width: 9em; 
    text-align: center;
}

.hcell {
    float: left; 
    margin: 0; 
    padding-top: .5em; 
    width: 9em; 
    text-align: center;
    font-weight: bold;
}

.center{
    margin: 0 auto; width: 400px;
}
#step1{
    text-align: center;
    height: 30em;
    padding-top: 1em;
    background-color: #1993B6;
    font-size: 1.25em;
    color: #F0F0F1;
}
#step2{
    text-align: center;
    height: 10em;
    padding-top: 4em;
    background-color: #39ACCD;
    font-size: 1.25em;
    color: #CECFD3;
}
#step3{
    text-align: center;
    height: 10em;
    padding-top: 4em;
    background-color: #85D5EC;
    font-size: 1.25em;
    color: #696B70;
}
#step4{
    text-align: center;
    height: 10em;
    padding-top: 4em;
    background-color: #BAEAF8;
    font-size: 1.25em;
    color: #303643;
}
video[poster]{
    height:35em;
    margin-top: 2em;
    padding-bottom: 10em;
}
div.comment-head {
    display:block;
    
}
.glyphicon-remove {
    display:inline;
    float: right;
    color: #777;
}

.innerWrap > div {
    display: inline-block;
    vertical-align: center;
}

.event-detail {
    padding-top: 7px;
}

.highlight {
    color: #5bc0de;
}